body {
    background-color: gainsboro;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    top: 0;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-bottom: 7px;
    transition: all 1s linear;
    transform: translate3d(0, 0, 0);
}

.topnav {
    overflow: hidden;
}

#navbar a {
    text-decoration: none;
    margin-right: 40px;
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.bars {
    position: absolute;
    right: 100px;
    top: 20px;
    font-size: 23px;
    display: flex;
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    justify-content: center;
}

#navbar a:hover {
    color: #00b3b3;
}

#navbar a.active {
    color: #00b3b3;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
}

#main {
    padding: 0 150px;
}

.begin {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bk.jpg');
    width: 100%;
    height: 800px;
    background-size: cover;
}

.begin div {
    text-align: center;
    margin: auto;
    color: white;
}

.begin div h1 {
    margin: 0;
}

.begin div .circle {
    margin: 10px auto;
}

.card {
    width: 400px;
    height: 500px;
}

.new-films {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card {
    margin-top: 40px;
    border: 3px solid rgb(66, 4, 61);
    height: auto;
    border-radius: 30px;
    margin: 30px auto;
    padding-top: 30px;
}

#begin-outer {
    padding-top: 180px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#icon {
    background-color: #00b3b3;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

#icon .fas {
    font-size: 30px;
    color: white;
}

.circle {
    width: 5px;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 20px;
    border-radius: 100%;
}

#info {
    width: 850px;
    height: 250px;
    background-color: gainsboro;
    margin-top: 80px;
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px;
}

#info div {
    color: black;
}

.first-row {
    display: flex;
    width: 100%;
    padding-top: 10px;
}

#second-row {
    display: flex;
    width: 100%;
    padding-top: 20px;
}

input {
    width: 150px;
    border: none;
    background-color: transparent;
    padding: 10px 0 0 10px;
    text-align: center;

}

.booking {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#rooms,
#children,
#adult,
#check-in,
#check-out {
    width: 120px;
}

.check {
    width: 370px;
    height: 50px;
    color: white;
    background-color: #00b3b3;
    border: 2px solid #00b3b3;
}

.check:hover {
    width: 370px;
    height: 50px;
    color: #00b3b3;
    background-color: white;
    cursor: pointer;
    border: 2px solid #00b3b3;
}

.section-2 {
    width: 100%;
    height: auto;
    background-color: lavender;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.inner-sec2 h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px;
}

.inner-sec2 {
    width: 50%;
    margin: auto;
}

.continue {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #00b3b3;
    margin-top: 30px;
    border: 2px solid #00b3b3;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 30px;
}

.active {
    display: block;
}

.continue:hover {
    color: #00b3b3;
    background-color: white;
    border: 2px solid #00b3b3;
    cursor: pointer;
}


.section-3 {
    background-color: white;
}

.world {
    width: 100%;
    display: flex;
}

.europe {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.asia {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.usa {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.usa img,
.asia img,
.europe img {
    width: 100%;
    height: 500px;
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
}

.usa:hover img,
.asia:hover img,
.europe:hover img {
    transform: scale(1.5);
}

.white-bk {
    background-color: white;
    width: 100%;
    height: 500px;
}

.europe-text {
    margin-top: 15%;
    background-color: #00b3b3;
    height: 250px;
    color: white;
    text-align: justify;
    padding: 10px 40px;
    margin-left: -5%;
    width: 670px;
    position: relative;
}

.europe-text p {
    width: 600px;
    line-height: 20px;
}

.continue-reading-eu {
    width: 200px;
    height: 50px;
    color: #00b3b3;
    background-color: white;
    margin-top: 30px;
    border: none;
}

.continue-reading-eu:hover {
    color: white;
    background-color: #00b3b3;
    border: 2px solid white;
    cursor: pointer;
}

.asia-text {
    margin-top: 15%;
    background-color: #cc6699;
    height: 250px;
    color: white;
    text-align: justify;
    padding: 10px 40px;
    width: 670px;
    margin-left: 17%;
    position: relative;
    z-index: 1;
}

.asia-text p {
    width: 600px;
    line-height: 20px;
}

.continue-reading-asia {
    width: 200px;
    height: 50px;
    color: #cc6699;
    background-color: white;
    margin-top: 30px;
    border: none;
}

.continue-reading-asia:hover {
    color: white;
    background-color: #cc6699;
    border: 2px solid white;
    cursor: pointer;
}

.continue-reading-usa {
    width: 200px;
    height: 50px;
    color: #00b3b3;
    background-color: white;
    margin-top: 30px;
    border: none;
}

.section-4 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
}

.section-4 div:hover {
    background-color: #cc6699;
    cursor: pointer;
}

.section-4 div:nth-child(1):hover {
    background-color: white;
    cursor: pointer;
    color: #cc6699;
}

.section-4 div {
    width: 219.7px;
    padding: 10px;
    height: 150px;
    text-align: center;
    color: white;
    background-color: #00b3b3;
}

.section-4 div .fas {
    font-size: 50px;
    line-height: 100%;
    margin-top: 10px;
}



.section-5 {
    background-color: white;
    padding-top: 70px;
    margin: auto;
}

.inner-sec5 {
    width: 50%;
    margin: auto;
}

.places {
    background-color: #00b3b3;
    width: 70%;
    margin: 50px auto;
    display: flex;
}

.hotel-img-bangkok,
.hotel-img-singapore,
.hotel-img-laos,
.hotel-img-maynmar {
    width: 50%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel-img-bangkok {
    background-image: url(../img/bangkok.jpg);
}

.hotel-img-singapore {
    background-image: url(../img/singapore.jpg);
}

.hotel-img-laos {
    background-image: url(../img/laos.jpg);
}

.hotel-img-maynmar {
    background-image: url(../img/myanmar.jpeg);
}

.hotel-txt {
    padding: 0 20px;
    border: 1px solid rgb(148, 141, 141);
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    background-color: white;
    transition: all 3s linear;
}

.hotel-txt h4 {
    color: #cc6699;
}

.prices {
    background-color: #00b3b3;
    width: 200px;
    border-top-left-radius: -90px;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.map {
    margin-top: 100px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-end;
}

.form {
    display: flex;
    background-color: white;
    width: 530px;
    padding: 30px;
    height: 470px;
    margin: auto 150px auto 0;
}

form input {
    background-color: rgb(240, 239, 239);
    height: 30px;
    width: 250px;
    width: 48%;
    padding: 7px 0 7px 5px;
}

#subject {
    width: 99%;
    margin-top: 10px;
}

#email {
    margin-left: 7px;
}

textarea {
    margin-top: 10px;
    background-color: rgb(240, 239, 239);
    width: 98%;
    height: 280px;
    border: none;
    padding: 10px 0 0 10px;
}

.send {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #00b3b3;
    border: 2px solid #00b3b3;
    margin-top: 10px;
    font-weight: bold;
}

.send:hover {
    color: #00b3b3;
    background-color: white;
    cursor: pointer;
    border: 2px solid #00b3b3;
}

footer {
    background-color: #00b3b3;
    color: white;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

footer p {
    margin: auto 0;
}


.hotel-txt:hover {
    border-radius: 0;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        transform: scale(1.8);
    }
}

#begin-outer .circle {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#begin-outer .circle:nth-child(2) {
    animation-delay: .4s;
}

#begin-outer .circle:nth-child(3) {
    animation-delay: .8s;
}

@media only screen and (max-width: 480px) {
    .mobile-hidden {
        display: none;
    }

    .begin {
        background-position: center;
    }

    #main {
        padding: 0 20px;
    }

    #logo img {
        transform: scale(.8);
    }

    #begin-outer {
        padding: 50px;
    }

    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #navbar a {
        display: block;
        margin-top: 5px;
    }

    .bars {
        right: 15px;
    }

    #navbar {
        flex-direction: column;
        width: 100%;
    }

    #info {
        width: 100%;
        padding: 5px 0 15px 0;
        height: auto;
        margin-top: 0;
    }

    .check {
        width: 80%;
    }

    .check:hover {
        width: 50%;
    }

    .first-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #second-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .inner-sec2 {
        width: 100%;
    }

    .world {
        display: flex;
        flex-direction: column;
    }

    .europe-text p,
    .asia-text p {
        width: auto;
    }

    .europe-text,
    .asia-text {
        height: auto;
        padding-bottom: 30px;
        width: auto;
        margin-left: 0;
        margin-top: 0;
    }

    .white-bk {
        height: auto;
        order: 2
    }

    .asia {
        margin: 0;
        order: 1;
    }

    .section-4 div {
        width: 100%;
        border-top: 5px solid #e2e2e2;
    }

    .section-5 {
        padding-top: 0;
    }

    .inner-sec5 {
        display: block;
    }

    .hotel-img-bangkok,
    .hotel-img-singapore,
    .hotel-img-laos,
    .hotel-img-maynmar {
        width: 100%;
    }

    .places {
        display: block;
        background-color: transparent;
        width: 100%;
    }

    .prices {
        width: 100%;
    }

    .form {
        margin: auto;
    }

    footer {
        text-align: center;
        padding: 0 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    .mobile-hidden {
        display: none;
    }

    .begin {
        background-position: center;
    }

    #main {
        padding: 0 20px;
    }

    #logo img {
        transform: scale(.8);
    }

    #begin-outer {
        padding: 50px;
    }

    .container {
        width: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #info {
        width: 100%;
        padding: 5px 0 15px 0;
        height: auto;
        margin-top: 0;
    }

    .check {
        width: 100%;
    }

    .check:hover {
        width: 100%;
    }

    .first-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .hotel-img-bangkok,
    .hotel-img-singapore,
    .hotel-img-laos,
    .hotel-img-maynmar {
        width: 100%;
        background-attachment: fixed;
    }

    #second-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .world {
        display: flex;
        flex-direction: column;
    }

    .europe-text p,
    .asia-text p {
        width: auto;
    }

    .europe-text,
    .asia-text {
        height: auto;
        padding-bottom: 30px;
        width: auto;
        margin-left: 0;
        margin-top: 0;
    }

    .white-bk {
        order: 2;
    }

    .asia {
        order: 1;
    }

    .white-bk {
        height: auto;
    }

    .section-4 div {
        width: 242.5px;
    }

    .inner-sec5 {
        display: block;
    }

    .places {
        display: block;
        background-color: transparent;
        width: 100%;
    }

    .prices {
        width: 100%;
    }

    .form {
        margin: auto;
    }
}

@media only screen and (min-width: 922px) {
    #main {
        padding: 0 20px;
    }

    #logo img {
        transform: scale(.7);
    }

    #begin-outer {
        padding: 50px;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #navbar {
        display: flex;
    }

    #navbar {
        display: flex;
    }

    .bars {
        display: none;
    }

    #navbar a {
        margin-right: 30px;
    }

    #info {
        width: 80%;
        padding: 5px 0 15px 0;
        height: auto;
        margin-top: 0;
    }

    .check {
        width: 100%;
    }

    .check:hover {
        width: 100%;
    }

    .first-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .hotel-img-bangkok,
    .hotel-img-singapore,
    .hotel-img-laos,
    .hotel-img-maynmar {
        width: 80%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #second-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .world {
        display: flex;
    }

    .europe-text p,
    .asia-text p {
        width: auto;
    }

    .europe-text,
    .asia-text {
        height: auto;
        padding-bottom: 30px;
        width: auto;
        margin: 0;
    }

    .white-bk {
        height: auto;
        order: 2;
    }

    .asia {
        order: 1;
    }

    .section-4 {
        padding-top: 0;
    }

    .section-4 div {
        width: 245.9px;
    }

    .section-5 {
        padding-top: 1px;
    }

    .inner-sec5 {
        display: block;
    }

    .places {
        display: flex;
        background-color: #00b3b3;
        width: 90%;
    }

    .hotel-txt {
        width: 100%;
    }

    .prices {
        width: 30%;
    }

    .form {
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) {
    #main {
        padding: 0 20px;
    }

    #logo img {
        transform: scale(1);
    }

    #begin-outer {
        padding: 50px;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #navbar a {
        display: flex;
        margin-top: 5px;
        margin-right: 20px;
    }

    #navbar {
        display: flex;
    }

    .bars {
        display: none;
    }

    #info {
        width: 80%;
        padding: 5px 0 15px 0;
        height: auto;
        margin-top: 0;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }

    .check {
        width: 100%;
    }

    .check:hover {
        width: 100%;
    }

    .first-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .hotel-img-bangkok,
    .hotel-img-singapore,
    .hotel-img-laos,
    .hotel-img-maynmar {
        width: 80%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: unset;
    }

    #second-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .world {
        display: flex;
        flex-direction: row;
    }

    .europe-text p,
    .asia-text p {
        width: auto;
    }

    .europe-text,
    .asia-text {
        height: auto;
        padding-bottom: 30px;
        width: auto;
        margin-left: 0;
    }

    .usa,
    .asia,
    .europe {
        width: 50%;
        height: auto;
    }

    .usa img,
    .asia img,
    .europe img {
        width: 100%;
        height: 100%;
    }

    .white-bk {
        height: auto;
    }

    .section-4 {
        padding-top: 0;
    }

    .section-4 div {
        width: 245.9px;
    }

    .inner-sec5 {
        display: block;
    }

    .places {
        display: flex;
        background-color: #00b3b3;
        width: 90%;
    }

    .hotel-txt {
        width: 100%;
    }

    .prices {
        width: 30%;
    }

    .form {
        margin: auto;
    }
}

@media only screen and (min-width: 1440px) {
    #main {
        padding: 0 150px;
    }

    #begin-outer {
        padding-top: 180px;
    }

    .header {
        display: flex;
    }

    .bars {
        display: none;
    }

    .container {
        width: 60%;
    }

    #navbar {
        display: flex;
    }

    #navbar a {
        margin-right: 40px;
    }

    #info {
        width: 850px;
        height: 250px;
        margin-top: 80px;
        padding: 30px;
        display: block;
    }

    .usa,
    .asia,
    .europe {
        width: 50%;
        height: 500px;
    }

    .check {
        width: 150%;
    }

    .check:hover {
        width: 150%;
    }

    .first-row {
        display: flex;
        width: 100%;
    }

    #second-row {
        display: flex;
        width: 100%;
    }

    .world {
        width: 100%;
        display: flex;
    }

    .europe-text p,
    .asia-text p {
        width: auto;
    }

    .europe-text {
        margin-top: 15%;
        padding: 10px 40px;
        margin-left: -5%;
        width: 100%;
        height: 250px;

    }

    .asia-text {
        margin-top: 15%;
        height: 250px;
        width: 100%;
        margin-left: 5%;
        position: relative;
    }

    .white-bk {
        height: auto;
        order: 1;
        width: 50%;
    }

    .asia {
        order: 2;
    }

    .section-4 {
        padding-top: 0;
    }

    .section-4 div {
        width: 228px;
    }

    .inner-sec5 {

        width: 50%;
        margin: auto;
    }

    .places {
        width: 70%;
        margin: 50px auto;
        display: flex;
        background-color: #00b3b3;
    }

    .hotel-img-bangkok,
    .hotel-img-singapore,
    .hotel-img-laos,
    .hotel-img-maynmar {
        width: 100%;
    }

    .prices {
        width: 200px;
    }

    .form {
        margin: auto 150px auto 0;
    }
}

@media only screen and (min-width: 2560px) {
    .section-4 div {
        width: 322.8px;
    }
}

@media only screen and (width: 1853px) {
    .section-4 div {
        width: 219.7px;
    }
}